# OpenAPI version identifier - required for OpenAPI 3.0 domains
openapi: 3.1.0

#######################
# Optional info section
#######################
info:
  title: TurboSMTP Components
  description: Common Components for TurboSMTP REST APIs
  version: '1.0.0-oas3'
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:   
- description: turboSMTP Production Server
  url: https://pro.api.serversmtp.com/api/v2

security:
  - ApiKeyAuth: []

paths:
  # Include a minimal path to satisfy Redocly
  /dummy:
    get:
      operationId: Dummy
      summary: "Dummy path to satisfy Redocly"
      description: "This path is included to meet the requirement for paths."
      responses:
        '200':
          description: "Dummy response"
        '400':
          description: "Dummy response"

components:

  #######################
  # Common path items
  #######################
  #pathitems:


  ####################
  # Common data models
  ####################
  schemas:
    #common
    CommonBadRequestResponseBody:
                additionalProperties: false
                properties:
                  message:
                    type: string
                example:
                    message: "missing_required_parameter"
                    
    CommonSuccessResponseBody:
              additionalProperties: false
              properties:
                message:
                  type: string
                  enum: [ 'success' ]
              example: 
                  message: "success"                       
  
    CommonMessageResponseBody:
        type: object
        additionalProperties: false
        properties:
          message:
            type: string

    CommmonResultResponseBody:
        type: object
        additionalProperties: false
        properties:
          result:
            type: boolean
            example: true
            
    AuthorizationError:
      type: object
      additionalProperties: false
      properties:
        message:
          type: string
          enum: [ 'missing_authorization_key', 'invalid_authorization_key' ]
        
    AuthenticationLoginSucessResponsetBody:
              additionalProperties: false
              properties:
                  auth:
                    type: string
                    description: "API Key to be used in authorization header"
              example: 
                auth: "f8efa7be4e7457c463e8b800e1f11f92072d272c"      
          
    ########      
    CustomDateTimeFormat:
      type: string
      pattern: "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$"  
    
    NullableCustomDateTimeFormat:
      type: [string,"null"]
      pattern: "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$"  
    
    FromDate:
        type: string
        format: date
        description: Start date
        example: "2020-01-01"
        
    ToDate:
        type: string
        format: date
        description: End date
        example: "2025-12-31"
        
    Timezone:
        type: string
        description: Timezone Offset
        example: "-07:00"
        
    Filter:
        type: string
        description: Query to search
        example: ""        
          
    SmartSearch:
        type: [boolean, "null"]
        description: Smart search
        example: false
        default: false
        
    OrderType:
        type: string
        enum: [ 'asc', 'desc' ]
        description: Order Ascending or Descending.
        default: 'desc'
        example: 'desc'
        
    Page:
        type: [integer, "null"]
        default: 1
        minimum: 1
        description: Page number
        example: 1
        
    PageLimit:
        type: [integer, "null"]
        default: 10
        minimum: 1
        description: The numbers of rows per page to return
        example: 10
    
    EmailAddress:
          type: string
          format: email
          example: "username@gmail.com"    
        
    Email:
      type: object
      properties:
        email:
          type: string
          format: email
          example: "username@gmail.com"
      required: 
        - email
          
    PhoneNumber:
      type: object
      properties:
        phone_number:
          type: string
          example: "5493513164544"
          description: "Phone Number"
      required: 
          - phone_number
          
    Currency:
      type: string
      description: "Currency"
      example: "$"
      enum:
        - $
        - €
        - £
      x-enum-varnames:
        - Dollar
        - Euro
        - Pound
    
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
  

  ####################
  # Common parameters
  ####################
  parameters:
  
    LimitQueryParam:
      in: query
      required: false
      name: limit
      schema:
        $ref: '#/components/schemas/PageLimit'
      description: The numbers of rows per page to return
      example: 10
  
    PageQueryParam:
      in: query
      required: false
      name: page
      schema:
        $ref: '#/components/schemas/Page'
      description: Page number
      example: 1
  
    FromQueryParam:
      in: query
      required: true
      name: from
      schema:
        $ref: '#/components/schemas/FromDate'
      description: Start date
      example: "2020-01-01"
    
    ToQueryParam:
      in: query
      name: to
      required: true
      schema:
        $ref: '#/components/schemas/ToDate'
      description: End date
      example: "2025-12-31"
      
    OrderTypeQueryParam:
      in: query
      required: false
      name: ordertype
      schema:
        $ref: '#/components/schemas/OrderType'
        
    SmartSearchQueryParam:
      in: query
      name: smart_search
      required: false
      schema:
        $ref: '#/components/schemas/SmartSearch'
      description: Smart search
      example: false
        
    TimezoneQueryParam:
      in: query
      name: tz
      schema:
        $ref: '#/components/schemas/Timezone'
      description: Timezone Offset
      example: "-07:00"
      
    IdParam:
      name: Id
      in: path
      description: Id
      required: true
      schema:
        type: integer
    
    EmailQueryParam:
      name: Email
      in: query
      description: Email address.
      required: true
      schema:
          type: string
          format: email
      example: username@gmail.com
      
          
      

  #######################
  # Common request bodies
  #######################
  #requestBodies:


  ####################
  # Common responses
  ####################
  responses:
    ForbiddenForActivePlan:
                description: |
                  Forbidden
                  
                  The current active plan does not include this feature, upgrade is required to use this feature.
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CommonMessageResponseBody'
                    example: 
                      message: "feature_not_available_for_active_plan"     
  
    Unauthorized:
      description: |
        Unauthorized
        
        This API requires a valid API Key to be provided.
        (Use [/authentication/authorize](#/authentication/AuthenticationLogin) to obtain an API Key)
        
        Produces:
        
        * missing_authorization_key
        * invalid_authorization_key
        * account_is_inactive
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthorizationError'
          examples:
                MissingAuthorizationKey:
                  summary: Missing Authorization Key
                  value:
                    message: "missing_authorization_key" 
                InvalidAuthorizationKey:
                  summary: Invalid / Expired Authorization Key
                  value:
                    message: "invalid_authorization_key"

    AuthorizationLoginOk:
            description: | 
              Sucess
              
              User logged in sucessfully, use the auth value as API Key from request body in future API calls.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationLoginSucessResponsetBody'    

  #########################
  # Common headers
  # (except request headers - they are defined as parameters)
  #########################
  #headers:


  ######################################
  # Common examples of input/output data
  ######################################
  #examples:


  #########################
  # Common link definitions
  # See: https://swagger.io/docs/specification/links/
  #########################
  #links: {}

  #########################
  # Common callback definitions
  # See: https://swagger.io/docs/specification/callbacks/
  #########################
  #callbacks: {}
