# OpenAPI version identifier - required for OpenAPI 3.1 domains
openapi: 3.1.0

#######################
# Optional info section
#######################
info:
  title: User Components
  description: User components for TurboSMTP REST APIs
  version: '1.0.0-oas3'
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:   
- description: turboSMTP Production Server
  url: https://pro.api.serversmtp.com/api/v2

security:
  - ApiKeyAuth: []

# Empty paths section - required for OpenAPI 3.0 structure
paths: {}

components:

  #######################
  # Common path items
  #######################
  pathItems:
    UserInfo:
      get:
        security:
          - ApiKeyAuth: [ ]
        tags:
          - user          
        summary: Get user details
        operationId: getUserInfo
        description: |
          Get user details
        responses:
          '200':
            description: | 
              Sucess
              
              Personal billing details.  
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/UserDetails'
          '401':
              $ref: './Shared.yaml#/components/responses/Unauthorized'

    ConsumerKeys:
      get:
        operationId: listConsumerKeys
        tags:
          - consumerkey
        summary: Get Consumer Keys list
        security:
          - ApiKeyAuth: [ ]
        description: |
           
           Get Consumer Keys list
           
           Note: Consumer Keys listing is not allwed when authenticated via Consumer Key.

        responses:
          '200':
            description: | 
              Sucess
              
              Consumer Keys list
              
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ConsumerKeyListSucessResponsetBody'

          '401':
              $ref: './Shared.yaml#/components/responses/Unauthorized'
      post:
        operationId: createConsumerKey
        tags:
          - consumerkey
        summary: Create Consumer Key
        security:
          - ApiKeyAuth: [ ]
        description: |
           
           Create new Consumer Key

           Note: Consumer Key creation is not allwed when authenticated via Consumer Key.

        requestBody:
          required: true
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ConsumerKeyCreateRequestBody'
           
        responses:
          '201':
            description: | 
              Sucess
              
              Consumer Key Created Sucessfully.
              
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ConsumerKeyCreateResponseBody'
            links:
              DeleteConsumerKey:
                operationId: deleteConsumerKey
                parameters:
                  consumerKey: '$response.body#/consumerKey'
          '401':
              $ref: './Shared.yaml#/components/responses/Unauthorized'

    ConsumerKeysID:  
      delete:
        operationId: deleteConsumerKey
        tags:
          - consumerkey
        summary: Delete Consumer Key
        security:
          - ApiKeyAuth: [ ]
        description: |
           
           Delete Consumer Key
           Note: Consumer Key deletion is not allwed when authenticated via Comsumer Key.

        parameters:
          - $ref: '#/components/parameters/ConsumerKeyPathParam'

        responses:
          '200':
            description: | 
              Sucess
              
              Consumer Key was deleted.
            content:
              application/json:
                schema:
                  $ref: './Shared.yaml#/components/schemas/CommonSuccessResponseBody'

          '401':
              $ref: './Shared.yaml#/components/responses/Unauthorized'
              
          '404':
              description: |
                Not Found
                
                Please verify the Consumer Key is valid.
              content:
                application/json:
                  schema:
                    $ref: './Shared.yaml#/components/schemas/CommonMessageResponseBody'
                  example: 
                    message: "key_not_found" 

#    Authorize:
#      post:
#        tags:
#          - apikey
#        summary: Login - Get API Key
#        operationId: AuthenticationLoginByAPIKey
#        description: |
#          **This endpoint allows you to get an API Key**
#          
#          By an API Key + Secret.
#          
#          Use your API Key to consume APIs that require authorization.
#        requestBody:
#          required: true
#          content:
#            application/json:
#              schema:
#                $ref: '#/components/schemas/AuthenticationByApikeyLoginRequestBody'
#        responses:
#          '200':
#              $ref: 'https://api.swaggerhub.com/domains/turbo-smtp/shared/1.0.0-oas3#/components/responses/AuthorizationLoginOk'
#          '400':
#            description: |
#              Bad Request
#              
              ###### Produces:
              
#              * missing_required_parameter_api_key
#              * missing_required_parameter_api_secret
              
#            content:
#              application/json:
#                schema:
#                  $ref: 'https://api.swaggerhub.com/domains/turbo-smtp/shared/1.0.0-oas3#/components/schemas/CommonBadRequestResponseBody'
#          '403':
#            description: |
#              Forbidden
            
#              api_key or api_secret.
  
              ###### Produces: 
              
#              * wrong_credentials_specified
#            content:
#              application/json:
#                schema:
#                  $ref: 'https://api.swaggerhub.com/domains/turbo-smtp/shared/1.0.0-oas3#/components/schemas/CommonMessageResponseBody'
#                example: 
#                  message: "wrong_credentials_specified"      
      
#   Deauthorize:
#      post:
#        tags:
#          - apikey
#        summary: Logout - Revoke API Key
#        security:
#          - ApiKeyAuth: [ ]
#        operationId: AuthenticationLogoutByAPIKey
#        description: |
#          **This endpoint allows you to revoke your API Key**
#        responses:
#          '200':
#            description: | 
#              Sucess
              
#              User logged out sucessfully, API Key is no longer valid.
#            content:
#              application/json:
#                schema:
#                  $ref: 'https://api.swaggerhub.com/domains/turbo-smtp/shared/1.0.0-oas3#/components/schemas/CommonMessageResponseBody'
#                example:
#                  message: "token_deauthorized"
#          '401':
#            $ref: 'https://api.swaggerhub.com/domains/turbo-smtp/shared/1.0.0-oas3#/components/responses/Unauthorized' 

      
  ####################
  # Common data models
  ####################
  schemas:

    UserDetails:
      unevaluatedProperties: false
      allOf:
      - $ref: './Shared.yaml#/components/schemas/Email'
      - $ref: './Shared.yaml#/components/schemas/PhoneNumber'
      - type: object
        properties:
          active:
            type: boolean
            example: true
            description: "True if the account is active, false if the account is clossed."
          gateway:
            type: [string, "null"]
            example: "q1"
            description: "The Sending Machine Name."
            default: null
          ip:
            type: [integer, "null"]
            format: int64
            example: 3354675819
            description: "The Sending Machine IP."
            default: null
          datecreated:
            $ref: './Shared.yaml#/components/schemas/CustomDateTimeFormat'
            example: 2022-04-20 11:24:12
            description: "Account creation date."
          domain:
            type: [integer, "null"]
            format: int64
            description: "Account domain."
            default: null
            example: null
          parentid:
            type: [integer, "null"]
            format: int64
            description: "Accont Parent Id."
            default: null
            example: null
          ipClusterId:
            type: [integer, "null"]
            format: int64
            description: "Cluster used for account sending."
            default: null
            example: null
          whiteLabeled:
            type: boolean
            description: "True if account is whitelabeled."
            example: true
          sendblasterOnly:
            type: boolean
            description: "True if account is related to SendBlaster only."
            example: false
            default: false
          executiveAccount:
            type: boolean
            description: "True if account is executive"
            example: false
            default: false
          id:
            type: integer
            format: int64
            description: "Account id"
            example: 20823223
          firstName:
            type: string
            description: "The first name of the account owner."
            example: Jhon
          lastName:
            type: string
            description: "The last name of the account owner."
            example: Doe
          companyName:
            type: [string, "null"]
            description: "The Copany Name of the account owner."
            example: "Refreshing Soda Inc."
          address1:
            type: [string, "null"]
            description: "Address Line 1 of the account owner."
            example: "51 Guild Street"
          address2:
            type: [string, "null"]
            description: "Address Line 2 of the account owner."
            example: "1st Floor"
          city:
            type: [string, "null"]
            description: "City."
            example: "London"
          region:
            type: [string, "null"]
            description: "Region."
            example: null
          zipCode:
            type: [integer, "null"]
            format: int64
            description: "Zip Code."
            example: null
          country:
            type: [string, "null"]
            description: "Country."
            example: null
          siteUrl:
            type: [string, "null"]
            description: "Site url."
            example: null
          companyDescription:
            type: [string, "null"]
            description: "Company Description."
            example: null
          timezone:
            type: string
            description: Timezone Offset
            example: -07:00
          lang:
            type: string
            description: "Language."
            example: "en"
          accountID:
            type: integer
            format: int64
            description: "Account id."
            example: 20823223
          first_login_wizard:
            type: boolean
            description: "If true, will show setup wizard to the user."
            example: true
          email_confirmation:
            type: boolean
            description: "True if the email address has been confirmed."
            example: true
          account_activation:
            type: boolean
            description: "True if account has been activated."
            example: true
          dns_configuration:
            type: boolean
            description: "True if DNS has been setup."
            example: true
          account_settings:
            type: boolean
            description: "True if user has setup account settings."
            example: true
          alert_settings:
            type: boolean
            description: "True if alert settings have been setup."
            example: true
          integration:
            type: boolean
            description: "True if integration has been setup."
            example: true
            
    ConsumerKeyCreateRequestBody:
      type: object
      additionalProperties: false
      properties:
        label:
            type: string
            description: Consumer Key label.
            example: QAkey.
            
    
    ConsumerKeyCreateResponseBody:
      type: object
      additionalProperties: false
      properties:
        consumerKey:
          type: string
          description: Consumer Key
          example: b914ad238d0e8e8851b81e86ce46ae1d
        consumerSecret:
          type: string
          description: Consumer Secret
          example: JOSenWTYopGjhZ1CDvsEbcK9PNUA06Xy
          
    AuthenticationByConsumerkeyLoginRequestBody:
      type: object
      additionalProperties: false
      properties:
        consumerKey:
          type: string
          description: Consumer Key
          example: b914ad238d0e8e8851b81e86ce46ae1d
        consumerSecret:
          type: string
          description: Consumer Secret
          example: JOSenWTYopGjhZ1CDvsEbcK9PNUA06Xy
        no_expire:
          type: boolean
          default: false
          description: |
                  **false**: 
                  \nauthentication will expire after 2 hours.
                  
                  \n**true**: 
                  \nauthentication will keep you signed in, and will never expire.
                  (Use [/authentication/deauthorize](#/authentication/AuthenticationLogout) to logout and release your an API Key)"        
          
    ConsumerKey:
      type: object
      additionalProperties: false
      properties:
        consumerKey:
          type: string
          description: Consumer Key
          example: b914ad238d0e8e8851b81e86ce46ae1d
        label:
            type: string
            description: Consumer Key label.
            example: QAkey.
        creation_time:
            $ref: './Shared.yaml#/components/schemas/CustomDateTimeFormat'
            description: The time the consumer key was created.
            example: 2021-03-17 00:00:00
        ips:
            type: array
            description: IP addresses restricted to this consumer key. Empty array means no restriction.
            items:
              type: string
        is_legacy:
            type: boolean
            description: True if this is a legacy consumer key.
        permissions:
            type: array
            description: Permissions granted to this consumer key.
            items:
              type: string
          
    ConsumerKeyListSucessResponsetBody:
      type: object
      additionalProperties: false
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/ConsumerKey'
      example:
                    count: 2
                    results:
                      - consumerKey: bff5c9436b6da9fe3c1d3379e7dc0f21
                        label: QA
                        creation_time: "2023-10-12 11:58:11"
                      - consumerKey: 1027d089da21adfc7f08dc14303571f3
                        label: Staging
                        creation_time: "2023-08-02 17:18:00"
        
  parameters:
    ConsumerKeyPathParam:
      in: path
      name: consumerKey
      required: true  
      description: Consumer Key
      schema:
        type: string
        example: b914ad238d0e8e8851b81e86ce46ae1d
  ####################
  # Security schemes
  ####################
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
    consumerKey:
      type: apiKey
      in: header
      name: consumerKey
    consumerSecret:
      type: apiKey
      in: header
      name: consumerSecret
